spring:
  application:
    name: mephi-orm-platform
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/orm_platform}
    username: ${DB_USER:orm_user}
    password: ${DB_PASSWORD:orm_pass}

server:
  port: 8080

---
spring:
  config:
    activate:
      on-profile: test
  jpa:
    hibernate:
      ddl-auto: create-drop
